<% provide(:title, "Module #{params[:id]}") %>
<ul class="nav nav-pills nav-default">
  <li><h1><%="Module "+params[:id].to_s%></h1></li>
  <li><%= link_to(@aType+' 1', mods_one_url(:id => params[:id].to_i))%></li>
  <li><%= link_to(@aType+' 2',mods_two_url(:id => params[:id].to_i))%></li>
  <li class="active"><%= link_to("Post Skit Feedback", mods_feedback_url(:id => params[:id].to_i)) %></li>
  <li><%= link_to("Explanation", mods_explain_url(:id => params[:id].to_i)) %></li>
</ul>
<form role="form">
	<div class="form-group">
		<div class="panel panel-info">
			<div class="panel-body">
				<h3><%= "Which video better illustrates \"#{@aType}\" Briefly write down your answer."%></h3>
			</div>
		</div>
		<textarea class="form-control"rows="5"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>