<div class="row">
	<% provide(:title, "Module #{params[:id]}") %>
	<ul class="nav nav-pills nav-default">
		<li><h1><%="Module "+params[:id].to_s%></h1></li>
		<li><%= link_to(@aType+' 1', mods_one_url(:id => params[:id].to_i))%></li>
		<li><%= link_to(@aType+' 2',mods_two_url(:id => params[:id].to_i))%></li>
		<li class="active"><%= link_to("Post Skit Feedback", mods_feedback_url(:id => params[:id].to_i)) %></li>
		<li><%= link_to("Explanation", mods_explain_url(:id => params[:id].to_i)) %></li>
	</ul>

	<%= form_for(:feedback, url: mods_feedback_url(:id => params[:id])) do |f| %>
	<h3><%= "Which video better illustrates \"#{@aType}\"? Briefly write down your answer."%></h3>
	<div class="form-group">
		<%= f.label :answer , class: 'control-label' %>
		<%= f.text_field :answer , class: 'form-control input-md' %>
	</div>
	<%= f.submit "Submit", class: "btn btn-large btn-default" %>
	<% end %>
</div>
