<% provide(:title, "Sign in") %>

<div class="col-md-12 container">
  <div class="col-md-4"></div> <!-- For centering the sign-in form -->
  <div class="col-md-4">

    <%= form_for(:session, url: sessions_path) do |f| %>

      <h2 class="form-signin-heading">Sign In</h2>

      <%= f.text_field :email, class: "form-control", autofocus: true, placeholder: "Email Address", required: "autofocus" %>
      
      <%= f.password_field :password, class: "form-control", placeholder: "Password", required: "autofocus" %>

      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
      </label>

      <%= f.submit "Sign in", class: "btn btn-lg btn-default btn-block"%>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <% end %>
  </div>
  <div class="col-md-4"></div> <!-- For centering the sign-in form -->
</div>